body{
    display: flex;
}
.lists{
    width: fit-content;
    text-align: center;
    cursor: pointer;
}
span{
    border: 1px solid black;
    padding-left: 8px;
    text-align: left;
    cursor: pointer;
}
p{
    padding-left: 8px;
    cursor:pointer;
}
.TableContainer{
    border: 1px solid black;
}